:root {
	--base-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--base-font-size: 1rem;
	--base-line-height: calc(var(--base-font-size) * 1.6);
	
	--base-duration: 0.15s;

	--base-back-hue: 0;
	--base-back-sat: 0%;
	--base-back-lum: 8%;
	--base-back-color: hsl(
		var(--base-back-hue),
		var(--base-back-sat),
		var(--base-back-lum));
	--base-fore-hue: 0;
	--base-fore-sat: 0%;
	--base-fore-lum: 80%;
	--base-fore-color: hsl(
		var(--base-fore-hue),
		var(--base-fore-sat),
		var(--base-fore-lum));

	--accent1-hue: 190;
	--accent1-sat: 73%;
	--accent1-lum: 30%;
	--accent1-color: hsl(
		var(--accent1-hue),
		var(--accent1-sat),
		var(--accent1-lum));

	/* hsl(190, 73%, 29%) */
	--btn-primary-hue: var(--accent1-hue);
	--btn-primary-sat: var(--accent1-sat);
	--btn-primary-lum: var(--accent1-lum);
	/* hsl(207, 0%, 29%) */
	--btn-default-hue: 190;
	--btn-default-sat: 0%;
	--btn-default-lum: 35%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 12px;
}

body {
	height: 100%;
	background: var(--base-back-color);
	color: var(--base-fore-color);
	margin: 0;
	font-family: var(--base-font);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}